@*Models are in partial views.*@

@section header {
}

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    function AddRegions(selectedCountry, regionsSelect) {
        $.getJSON('@Url.Action("GetRegions")', { iso3: selectedCountry }, function (regions) {
            if (regions != null && !jQuery.isEmptyObject(regions)) {
                regionsSelect.append($('<option/>', {
                    value: null,
                    text: ""
                }));
                $.each(regions, function (index, region) {
                    regionsSelect.append($('<option/>', {
                        value: region.Value,
                        text: region.Text
                    }));
                });
            };
        });
    }

    $(document).ready(function () {
        var selectedCountry = $("#Country").val();
        var selectedRegion = $("#Region").val();
        var regionsSelect = $('#Region');
        $.getJSON('@Url.Action("GetRegions")', { iso3: selectedCountry }, function (regions) {
            if (regions != null && !jQuery.isEmptyObject(regions)) {
                regionsSelect.append($('<option/>', {
                    value: null,
                    text: ""
                }));
                $.each(regions, function (index, region) {
                    regionsSelect.append($('<option/>', {
                        value: region.Value,
                        text: region.Text
                    }));
                });
            };
        });
        if (selectedRegion != null && selectedRegion != '') {
            regionsSelect.val = selectedRegion;
        };
    });

    $("#Country").change(function () {
        var selectedCountry = $("#Country").val();
        var regionsSelect = $('#Region');
        regionsSelect.empty();
        if (selectedCountry != null && selectedCountry != '') {
        $.getJSON('@Url.Action("GetRegions")', { iso3: selectedCountry }, function (regions) {
            if (regions != null && !jQuery.isEmptyObject(regions)) {
                regionsSelect.append($('<option/>', {
                    value: null,
                    text: ""
                }));
                $.each(regions, function (index, region) {
                    regionsSelect.append($('<option/>', {
                        value: region.Value,
                        text: region.Text
                    }));
                });
            };
        });
        }
    });
</script>

}

@{
    ViewBag.Title = "Edit Customer Information";
}

<div class="row">
    <div class="col-md-12">
        <h2>Edit Customer Information</h2>
    </div>
</div>

<div id="EditCustomerPartial">
    @Html.Action("EditCustomerPartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="SelectAddressTypePartial">
    @Html.Action("AddressTypePartial", new { id = Url.RequestContext.RouteData.Values["id"] })
</div>

<div id="CreateAddress"></div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <hr />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>


